{% extends 'socialapp/pcbase.html' %}
{% block ops %}

<div class="w3-container" style="margin-top:80px;">

<div class="w3-row-padding">
{% for people in peoples%}
<div class="w3-third w3-section">
<div class="w3-card-4">
<a href="{% url 'profileclick' people.user %}"><img src="{{people.image.url}}" style="width:100%; height:300px;"></a>
<div class="w3-container w3-white">
<h4>{{people}}</h4>
<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{people.user.email}}</p>
</div>
</div>
</div>
{% endfor %}

{% endblock %}

