{% extends 'socialapp/lsbase.html' %}
{% block habibi %}
{% load socialaccount %}
 <form method="POST" style="border:1px solid #ccc">
  <div class="container">
      <a href="{% provider_login_url 'google' %}"  style="background-color: #4086e0; color: #ffffff" class="btn btn-outline-info">Signup with Gmail</a>
    <p><h3>OR </h3><h1>Sign Up manually</h1></p>
    <p>Please fill in this form to create an account.</p>
    <hr>
    {% csrf_token %}
    {{form.as_p}}
    <button style="background-color: #4086e0; color: #ffffff" class="btn btn-outline-info" type="submit">Confirm</button>
    </div>
  </div>
  
</form> 
 
{% endblock %}
